body {
    background-color: aquamarine;
}

.navbar {
    border-radius: 20px;
    font-size: 2rem;
}

.nav-item:hover {
    background-color: aliceblue;
    border-radius: 10%;
}

.img-uno, .img-dos, .img-tres {
    width: 30%;
}

.img-uno:hover {
    transform: scale(1.3);
    transition: all 1.5s;
}

.img-dos:hover {
    transform: scale(1.3);
    transition: all 1.5s;
}

.img-tres:hover {
    transform: scale(1.3);
    transition: all 1.5s;
}

.news-title {
    display: flex;
    justify-content: center;
}